.modal {
  z-index: 1000;
  position: relative;
  background: white;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  border-radius: 8px;
  display: flex
}


.modal__header {
  padding: 1rem 0.5rem;
  background: rgba(60, 179, 114, 0.705); 
  color: white;
  box-sizing: border-box;
}

.modal__header h2 {
  margin: 0.5rem;
}

.modal__content {
  padding: 1rem 0.5rem;
  width: 100%
}

.modal__footer {
  padding: 1rem 0.5rem;
}



.modal-enter {
  transform: translateY(-10rem);
  opacity: 0;
}

.modal-enter-active {
  transform: translateY(0);
  opacity: 1;
  transition: all 200ms;
}

.modal-exit {
  transform: translateY(0);
  opacity: 1;
}

.modal-exit-active {
  transform: translateY(-10rem);
  opacity: 0;
  transition: all 200ms;
}
