.form {
    width: 20rem; 
    height: 50vh;
    padding: 10px; 
    display: grid;
    place-items: center;
    border: 1px solid mediumseagreen; 
    background-color: rgba(30,30,30,1);
    margin: 2rem;
    padding: 2rem;
    border-radius: 5px;
    z-index: 10;
    box-sizing: border-box;
    color: white;
    text-align: center;
}

.form a {
    color: mediumseagreen;
}


.buttons {
    width: 70%;
    display: flex; 
    justify-content: space-around;
}


