.base {
    position:relative;
    width: 100%;
    text-align: center;
}

.button {
    position:absolute;
    top:4px;
    right:0;
    padding: 0;
}

textarea.p{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    border: none; 
    font-size: 16px;
    overflow: auto;
    width: 100%;
    height: 100%; 
    font-weight: normal;
    font-style: normal;
    padding: 0;
}



textarea.h3{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    border: none; 
    font-size: 20px;
    overflow: auto;
    width: 100%;
    height: 100%; 
    font-weight: bold;
    font-style: normal;
    padding: 0;
}

